.container {
    background-color: white;
    padding: 16px;
    max-height: 480px;
    overflow-y: scroll;
    display: block;
    background: #ff8d00b0;
}

.greeting {
    font-size: 2rem;
    font-weight: 400;
}

.time {
    font-size: 5rem;
    font-weight: 600;
    color: #ff8d00;
    background: black;
    clip-path: circle(50% at 50% 50%);
}